<a href="https://colab.research.google.com/github/ellieyakim0829/dataAnalysis/blob/main/1%EC%9D%BC%EC%B0%A8_%ED%8C%8C%EC%9D%B4%EC%8D%AC%EA%B8%B0%EC%B4%88_%EC%9E%90%EB%A3%8C%ED%98%95%EA%B3%BC%EC%97%B0%EC%82%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. 파이썬 자료형과 연산

# 오류

In [8]:
a= 10   # number
b='파이썬 ' #string
# print(a + b) #, 공백하나랑 같음 문자열과 정수는 더할수 없음

# 실습문제

#1. 파이썬 버전 출력

In [10]:
!python -V

Python 3.10.12

In [13]:
import sys
print('---',sys.version)
# sys.version
100+400

--- 3.10.12 (main, Nov 20 2023, 15:14:05) [GCC 11.4.0]

500

# 파이썬 설치위치

In [14]:
#2. 파이썬 설치 위치
import sys
print(sys.executable)

/usr/bin/python3

In [15]:
# 물리적 폴더 위치
#import sys 는 한번 작성해주면 서버상에 자동으로 올라가기때문에 반복으로 적지 않아도 된다
import os # 폴더를 이동하고 추하나는 모든 함수가 포함되어 있다. 함수호출하는 라이브러리임
os.getcwd()

'/content'

In [16]:
10+20

30

In [30]:
# ✓ 문제1: 10 + 3 x 4 결과 출력
print(10+3*4)

# ✓ 문제2: 아이폰 15대를 가지고 있다. 아이폰의 가격이 130만원 일 때 총 금액은?
iphone = 15
price = 1300000
print(iphone*price)

# ✓ 문제3: 주어진 임의의 자연수가 홀수인지 짝수인지 판별하는 방법은?
a =10
if a % 2 == 1:
  print('홀수')
else:
  print('짝수')

# ✓ 문제4: 2x2x2x5x5x5x5x3x3x3x3을 제곱형태로 나타낸 후 그 결과 출력하기
print(2**3*5**4*3**4)

22
19500000
짝수
405000

# 1. 표준입출력

### 파이썬 자료형 확인(Data Type)확인 함수: type()

In [31]:
print(type(123))
print(type(3.14))
print(type("123"))
print(type([123]))
print(type((123,)))
print(type({'123': 123}))
print(type({123}))
print(type(True))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'list'>
<class 'tuple'>
<class 'dict'>
<class 'set'>
<class 'bool'>

## 2.표준입출력

### 문자열 데이터를 숫자로 변환하기

In [35]:
a=input('숫자를 입력하세요: ') # input 안내문구를 넣어주는게 낫다
print(type(a))
a=int(a) # 정수로 변환하는 함수 : int()
print(type(a))

숫자를 입력하세요: 100
<class 'str'>
<class 'int'>

In [36]:
# a=input('숫자를 입력하세요: ')
# a=int(a)

a=int(input('숫자를 입력하세요: '))

숫자를 입력하세요: 100

In [37]:
# 문자열 포맷팅
a=input('키보드로 입력해 주세요')
print('변수 a 의 값은' ,a, '입니다.')
print('변수 a의 값은 %s 입니다.' %a)
print(f'변수 a의 값은 {a} 입니다.') # 가장 많이 쓰는 방식

키보드로 입력해 주세요사과
변수 a 의 값은 사과 입니다.
변수 a의 값은 사과 입니다.
변수 a의 값은 사과 입니다.

In [49]:
a=int(input('키보드로  첫번째 숫자 입력해 주세요'))
b=int(input('키보드로 두번째 숫자 입력해 주세요'))

print(f'덧셈 :{a} + {b}={a+b}')
print(f'뺄셈 :{a}- {b}={a-b}')
print(f'곱셈 :{a} * {b}={a*b}')
print(f'몫 :{a} // {b}={a//b}')
print(f'나머지 :{a} % {b}={a%b}')

키보드로  첫번째 숫자 입력해 주세요50
키보드로 두번째 숫자 입력해 주세요3
덧셈 :50 + 3=53
뺄셈 :50- 3=47
곱셈 :50 * 3=150
몫 :50 // 3=16
나머지 :50 % 3=2

In [ ]:
# val = input('첫번쨰 숫자:')
# # print(f'a의 값은: {val:>10'}) #val 값을 10자리로 오른쪽 정렬
# # print(f'a의 값은: {val:<10'}) #val 값을 10자리로 오른쪽 정렬

In [56]:
velocity = input('속력을 입력해 주세요(km/h) :')
distance = input('거리을 입력해 주세요(km) :')
print('-'*30)
a=int(distance)/int(velocity)
print(f'속력 : {velocity} km/h')
print(f'거리 : {distance}km')
print(f'시간 : {a} h')

# #속력과 거리를 입력 받아 시간을 계산하는 프로그램을 만들어 보세요
# velocity = input('속력을 입력해 주세요(km/h) : ')
# distance = input('거리를 입력해 주세요(km) : ')
# print('-'*30)
# print(f'속력 : {float(velocity)} km/h ')
# print(f'거리 : {float(distance)} km ')
# print(f'시간 : {float(distance) / float(velocity)} h' )

속력을 입력해 주세요(km/h) :100
거리을 입력해 주세요(km) :340
------------------------------
속력 : 100 km/h
거리 : 340km
시간 : 3.4 h

# 내장된 수학함수

In [ ]:
import math
# ✓ 문제1: 반지름이 4인 원의 넓이 출력
print(f'원의 넓이: {round(math.pi* math.pow(r,2) , 4)}')
# ✓ 문제2: 3.14 곱하기 2 나누기 7의 값을 반올림하여 계산 결과 출력
pi = 3.14
# ✓ 문제3: 원주율을 3.14로 만들어서 반지름이 4인 원의 둘레의 길이 출력