<a href="https://colab.research.google.com/github/ellieyakim0829/dataAnalysis/blob/main/5%EC%9D%BC%EC%B0%A8_%ED%8C%8C%EC%9D%B4%EC%8D%AC%EA%B8%B0%EC%B4%88_%EB%B0%98%EB%B3%B5%EB%AC%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 5. 반복문

## 5-1. for 반복문
유한개수의 반복

### 1.다양한 반복문

In [2]:
# 1. range() 함수 이용 : 정수를 차례로 발생시키는 함수
#for 변수 in range(0,3,1):
for 변수 in range(3):
    print(변수)

0
1
2

In [13]:
# 2. 리스트 이용
a = list(range(10,0,-1))
a = list(range(1,11))
for i in a:
    print(i) # 한줄로 표현하고 싶을때
    print(i, end='.') # 한줄로 표현하고 싶을때

1
1.2
2.3
3.4
4.5
5.6
6.7
7.8
8.9
9.10
10.

In [14]:
for i in range(1, 101,10):
    print(i, end='') # 10씩 끊어서  한줄로 표현하고 싶을때 소스 구현해봐라

1112131415161718191

In [15]:
# 3. 문자열 이용
for i in 'python':
    print(i)

p
y
t
h
o
n

In [17]:
# 4. 변수 사용안하고 반복만 할 때
for _ in range(3):
    print("좋은아침")

좋은아침
좋은아침
좋은아침

In [20]:
# 5. 리스트와 같은 순서가 있는 자료형의 인덱스를 함께 사용
fruits = ['사과','포도','딸기','키위']
idx = 0
for fruit in fruits:
    print(idx,fruit)
    idx = idx+1

for idx, fruit in enumerate(fruits):
    print(idx,fruit)

0 사과
1 포도
2 딸기
3 키위
0 사과
1 포도
2 딸기
3 키위

In [ ]:
# 6. 컬렉션 자료형의 이용
for a, b in [(1,2),(3,4),(5,6)]:
    print(a,b)
print('-'*30)
dic ={1:'사과', 2:'포도'}
for key in dic:
    print(key)  #items 사용안하면 key값만 불러온다.

print('-'*30)
for key,value in dic.items(): #키 벨류 값 가져오려면 무조건 Items 함수를 사용한다.
    print(key,value)

print('-'*30)
for v in {1,2,3,3,4,5,3}:
    print(v)

In [34]:
n = int(input('합계를 구할 숫자 입력 : '))
hap = 0
for i in range(1,n+1):
    if n%2 ==1:
        hap+= i
print(f'1부터 {n}까지의 짝수를 제외한 합은 :{hap}')

합계를 구할 숫자 입력 : 1000
1부터 1000까지의 짝수를 제외한 합은 :0

In [31]:
n = int(input('합계를 구할 숫자 입력 : '))
hap = sum([i for i in range(1, n+1, 2)])
print(f'1부터 {n}까지의 짝수를 제외한 합은 :{hap}')

합계를 구할 숫자 입력 : 1000
1부터 1000까지의 짝수를 제외한 합은 :250000

In [33]:
n = int(input('합계를 구할 숫자 입력 : '))
hap = 0
for i in range(1,n+1,2):
    hap+= i
print(f'1부터 {n}까지의 짝수를 제외한 합은 :{hap}')

합계를 구할 숫자 입력 : 1000
1부터 1000까지의 짝수를 제외한 합은 :250000

In [37]:
n = int(input('숫자 입력 : '))
hap = sum([i for i in range(1, n+1, 2)]  )
print(hap)

숫자 입력 : 1000
250000

### [실습문제 ]정오각형 그리기
- turtle 모듈은 코랩에서 사용할 수 없음.
pc에서 사용하기

import turtle
t = turtle.Pen()
t.forward(100)
t.right(72)

turtle.exitonclick()

In [ ]:
import turtle
t = turtle.Pen()
t.forward(100)
t.right(72)

turtle.exitonclick()

[실습문제] 1~100 숫자를 1줄로 출력하기

In [2]:
for i in range(1, 101):
    print(i, end='') #

123456789101112131415161718192021222324252627282930313233343536373839404142434445464748495051525354555657585960616263646566676869707172737475767778798081828384858687888990919293949596979899100

In [4]:
print(''.join([str(i) for i in range(1,101)]))

123456789101112131415161718192021222324252627282930313233343536373839404142434445464748495051525354555657585960616263646566676869707172737475767778798081828384858687888990919293949596979899100

In [9]:
# 방법 1
scores =[90,25,67,45,80]
for student in range(6):
     if scores[student-1] >= 60:
        print(f'{student}번 학생 {scores[student-1]}은 합격입니다..')
     else:
        print(f'{student}번 학생 {scores[student-1]}은 불합격입니다..')
# 방법 2
# scores =[90,25,67,45,80]
# number = 0
# for score in scores:
#     number = number+1
#     if score >= 60:
#         print("%d번 학생은 합격입니다." % number)
#     else:
#         print("%d번 학생은 불합격입니다."% number)

0번 학생 80은 합격입니다..
1번 학생 90은 합격입니다..
2번 학생 25은 불합격입니다..
3번 학생 67은 합격입니다..
4번 학생 45은 불합격입니다..
5번 학생 80은 합격입니다..

In [13]:
scores =[90,25,67,45,80]
for student in range(6):
    if scores[student-1] >= 60:
        print(f'{student}번 학생 {scores[student-1]}합격입니다')
    else:
        print(f'{student}번 학생 {scores[student-1]}불합격입니다')

0번 학생 80합격입니다
1번 학생 90합격입니다
2번 학생 25불합격입니다
3번 학생 67합격입니다
4번 학생 45불합격입니다
5번 학생 80합격입니다

In [ ]:
import random
# 방법 1 : 직접 지정
scores =[90,25,67,45,80]

# 방법 2 : 빈 리스트 만들어서 임의의 숫자 리스트에 추가
score =[]
for _ in range(5):
    scores.append(random.randint(1,101))

# 방법 3 : 방법2를 한줄로 표현
scores = [random.randint(1,101) for _ in range(5)]

for idx, score in enumerate(scores):
    # if score >= 60:
    #     print(f'{idx+1}번 학생 {score}점 : 합격입니다.')
    # else:
    #     print(f'{idx+1}번 학생 {score}점 : 불합격입니다.')

result = '합격' if score >=60 else '불합격'
print(f'{idx+1}번 학생 {score}점 : {result}입니다.')

In [21]:
'''
)))()()((( => False
()()()()()) => False
()(())()() => True
))(())(( => False
()(()))( => False
((())()) => True

'''
a_list = list(input('괄호:'))
t = 0
for i in a_list:
    if i =='(':
        t+= 1
    elif i ==')':
        t-= 1
    if t < 0:
        break

if t == 0:
    print('True')
else:
    print('False')

괄호:)))()()(((
False

In [ ]:
for i in range(3):
    for j in range(3):
        print(f"i:{i},j:{j}")

In [ ]:
p_list =[')))()()(((','()()()()())' ,'()(())()()' ,'))(())((','()(()))(' ,'((())())' ]