<a href="https://colab.research.google.com/github/ellieyakim0829/dataAnalysis/blob/main/%EC%8B%A4%EC%8A%B5%EB%AC%B8%EC%A0%9C%ED%92%80%EC%9D%B4_20240408.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
total_sum = 0
num = 1
while num <=1000:
    if num%3 ==0:
        total_sum += num
    num+=1
print(f'1부터 1000까지 자연수 중 2의 배수의 합은:{total_sum}')

1부터 1000까지 자연수 중 2의 배수의 합은:166833

In [6]:
# 1부터 1000까지의 자연수 중 3의 배수를 포함하는 리스트 생성
multiples_of_three = [num for num in range(1, 1001) if num % 3 == 0]

# 리스트의 합 계산
total_sum = sum(multiples_of_three)

# 결과 출력
print("1부터 1000까지의 자연수 중 3의 배수의 합:", total_sum)

1부터 1000까지의 자연수 중 3의 배수의 합: 166833

In [7]:
result = sum([num for num in range(1, 1001) if num % 3 == 0])
print(f'{result}')

166833

In [10]:
star ="*"
numbers = input("숫자를 입력하세요(0~9): ")
for number in numbers:
    for _ in range(int(number)*2):
        print(star, end='')
    print()

숫자를 입력하세요(0~9): 4325
********
******
****
**********

In [ ]:
# 아래와 같이 구구단을 출력해 보세요.
# 구구단 출력
for i in range(1, 10):
    for j in range(1, 10):
        print(f"{j} x {i} = {i*j}")

#2단 출력
for i in range(1, 10):
    print(f"2 x {i} = {2*i}")


# 가로로 구구단 출력
for i in range(1, 10):
    for j in range(2, 10):
        print(f"{j} x {i} = {i*j}", end="\t")
    print()  # 줄 바꿈