<a href="https://colab.research.google.com/github/ellieyakim0829/dataAnalysis/blob/main/%ED%8C%8C%EC%9D%B4%EC%8D%AC_%EC%97%B0%EC%8A%B5%EB%AC%B8%EC%A0%9C%ED%92%80%EC%9D%B4_20240403.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
for i in range(0,3,1):
    print("안녕하세요 for문을 공부중입니다.")

안녕하세요 for문을 공부중입니다.
안녕하세요 for문을 공부중입니다.
안녕하세요 for문을 공부중입니다.

In [6]:
for c in range(1,3,1):
    print(c)

for b in ['파','이','썬']:
    print(b)

1
2
파
이
썬

In [15]:
n = int(input('합계를 구할 숫자 입력 :'))
hap = 0
for n in range(1,n+1):
    # if n%2 ==1:
    if n%2 !=0:
        hap+= n

print(f'1부터 {n}까지의 짝수를 제외한 합은 :{hap}')

합계를 구할 숫자 입력 :200
1부터 200까지의 짝수를 제외한 합은 :10000

In [ ]:
#정오각형 그리기
import turtle

t = turtle.Pen()
t.forward(100)
t.right(72)
t.forward(100)
t.right(72)
t.forward(100)
t.right(72)
t.forward(100)
t.right(72)
t.forward(100)
t.right(72)
turtle.exitonclick()

import turtle

t = turtle.Pen()

for i in range(5):
    t.forward(100)
    t.right(72)

turtle.exitonclick()

In [33]:
# for i in range(1, 101):
#     print(i)
for i in range(1, 101):
    print(i, end=",")  # 숫자 사이에 공백을 넣어 가로로 출력

1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,

In [7]:
# score = int(input('점수를 입력하세요'))
# if score >= 80:
#     message ='Success'
# else:
#     message ='Failure'
# print(f"당신의 점수는{score}점은 시험에 {message} 하셨습니다.")

# 방법 1
scores =[90,25,67,45,80]
for student in range(1,6):
     if scores[student-1] >= 60:
        print(f'{student}번 학생 {scores[student-1]}은 합격입니다..')
     else:
        print(f'{student}번 학생 {scores[student-1]}은 합격입니다..')
# 방법 2
# scores =[90,25,67,45,80]
# number = 0
# for score in scores:
#     number = number+1
#     if score >= 60:
#         print("%d번 학생은 합격입니다." % number)
#     else:
#         print("%d번 학생은 불합격입니다."% number)

1번 학생 90은 합격입니다..
2번 학생 25은 합격입니다..
3번 학생 67은 합격입니다..
4번 학생 45은 합격입니다..
5번 학생 80은 합격입니다..