<a href="https://colab.research.google.com/github/ellieyakim0829/dataAnalysis/blob/main/%ED%8C%8C%EC%9D%B4%EC%8D%AC_%EC%97%B0%EC%8A%B5%EB%AC%B8%EC%A0%9C%ED%92%80%EC%9D%B4_20240331.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
10+20

30

In [ ]:
20-10

10

In [ ]:
20*10

200

In [ ]:
10/5

2.0

In [ ]:
10%5

In [ ]:
# ✓ 문제1: 10 + 3 x 4 결과 출력
result = 10+3*4
print(result)
# ✓ 문제2: 아이폰 15대를 가지고 있다. 아이폰의 가격이 130만원 일 때 총 금액은?
iphone = 15
price = 1300000
total = iphone*price
print(total)

# ✓ 문제3: 주어진 임의의 자연수가 홀수인지 짝수인지 판별하는 방법은?
a = int(input('임의의 자연수를 입력하세요:'))
if a%2 == 0:
  print('짝수입니다.')
else:
  print('홀수입니다.')

# ✓ 문제4: 2x2x2x5x5x5x5x3x3x3x3을 제곱형태로 나타낸 후 그 결과 출력하기
result = 2**3 * 5**4 * 3**4
print(result)

22
19500000
임의의 자연수를 입력하세요:10
짝수입니다.
405000

In [ ]:
a = input(' 키보드로 숫자를 입력해주세요:')
print(type(a))

a = int(a)
print(type(a))

a = input('키보드로 숫자를 입력해주세요:')
#출력 방법 1
print('변수 a에 기억된 값은', a,'입니다.')

#출력 방법 2
print('변수 a에 기억된 값은%s입니다.' %a)

#출력 방법 3
print(f'변수 a에 기억된 값은 {a} 입니다.')

 키보드로 숫자를 입력해주세요:10
<class 'str'>
<class 'int'>
키보드로 숫자를 입력해주세요:5
변수 a에 기억된 값은 5 입니다.
변수 a에 기억된 값은5입니다.
변수 a에 기억된 값은 5 입니다.

In [ ]:
# 키보드로 두 수를 입력 받아 간단한 계산기 프로그램 만들기
# 덧셈, 뺄셈, 곱셈, 몫, 나머지를 출력하는 프로그램을 만들어 보세요.

num1 = int(input('첫번째 숫자 :'))
num2 = int(input('두번째 숫자 :'))
print('-' *40)
print(f'덧셈 : {num1} + {num2} = {num1+num2} ')
print(f'뺄셈 : {num1} - {num2} = {num1-num2} ')
print(f'곱셈 : {num1} * {num2} = {num1*num2} ')
print(f'몫 : {num1} // {num2} = {num1//num2} ')
print(f'나머지 : {num1} % {num2} = {num1%num2} ')

첫번째 숫자 :50
두번째 숫자 :3
----------------------------------------
덧셈 : 50 + 3 = 53
뺄셈 : 50 - 3 = 47
곱셈 : 50 * 3 = 150
몫 : 50 // 3 = 16
나머지 : 50 % 3 = 2

In [ ]:
# 키보드로 두 수를 입력 받아 계산하는 프로그램 만들기
# • 속력과 거리를 입력 받아 시간을 계산하는 프로그램을 만들어 보세요.
velocity = input(' 속력을 입력해 주세요(km/h) :')
distance = input('거리를 입력해 주세요(km) :')
time=float(distance)/float(velocity) #속도는 거리 나누기 시간
print('-'*40)
print(f'속력 :{float(velocity)} km/h')
print(f'거리 :{float(distance)} km')
print(f'시간 :{time}h')

 속력을 입력해 주세요(km/h) :100
거리를 입력해 주세요(km) :340
----------------------------------------
속력 :100.0 km/h
거리 :340.0 km
시간 :3.4h

In [ ]:
# 아래와 같이 정수 a을 입력 받아, a + aa + aaa의 결과 값을 구하는 프로그램을 작성하세요.
#출력 방법 1
a = input('정수를 입력하세요:')
# 입력된 정수를 문자열로 받아와서 덧셈 연산을 수행
result = int(a) + int(a*2) + int(a*3)
print(f'{a}','+',f'{a*2}','+',f'{a*3}','=', result)

#출력방법 2
a = input('정수를 입력하세요:')
print(f'{a}+{a}{a}+{a}{a}{a} = {int(a)+int(a*2)+int(a*3)}')

# 출력방법 3
a = int(input("정수를 입력하세요: "))  # 사용자로부터 정수 입력 받기
# aa와 aaa 계산
aa = int(str(a) + str(a))  # a를 문자열로 변환하여 두 번 붙여서 정수로 변환
aaa = int(str(a) + str(a) + str(a))  # a를 문자열로 변환하여 세 번 붙여서 정수로 변환

# 결과 값 계산
result = a + aa + aaa
# 결과 값 출력
print(a, "+", aa ,"+", aaa, "=", result)

정수를 입력하세요:7
7 + 77 + 777 = 861
정수를 입력하세요:7
7+77+777 = 861
정수를 입력하세요: 7
7 + 77 + 777 = 861

In [ ]:
print('Hello' + 'world')
print('Hello','world','!')
a ="파이썬"
b ="is very fun!"
print(a+b)

print('hello'*3)

print("Mary` cosmetics")
print('박씨가 소리질렀다."도둑이야!"')
print("안녕하세요.\n오늘\t날씨가\t\t좋습니다.")

Helloworld
Hello world !
파이썬is very fun!
hellohellohello
Mary` cosmetics
박씨가 소리질렀다."도둑이야!"
안녕하세요.
오늘	날씨가		좋습니다.

In [ ]:
a ='우리는 민족중흥의 역사적 사명을 띠고 이땅에 태어났다.'
a[3:12]

' 민족중흥의 역사'

In [ ]:
fruits ='orange'
print(fruits[1:3])

ra

In [ ]:
# 문자열을 입력 받아 거꾸로 출력하는 프로그램을 작성하세요.
# s = input('문자열을 입력하세요 :')
# print(s[::-1])


# 확장자가 포함된 파일명 전체를 입력 받아 파일명과 확장자를 분리해서
# 출력하는 프로그램을 만들어 보세요

a = input('파일을 입력하세요 :')
print('파일 :',a)
print('파일명 :',a[0:5],'확장자 :',a[5:7])
# filename, extensions = a.split('.')
# print('파일명 :',filename,'확장자 :',extensions)

파일을 입력하세요 :test.py
파일 : test.py
파일명 : test. 확장자 : py

In [ ]:
# ✓ 음식가격: 4,450 원
# ✓ 세금: 6.75%
# ✓ 팁: 15%
# • 아래 조건을 보고 음식의 총 가격에 팁을 적용하여 지출할 음식 가격을 출력하세요.
# 지불할 음식 총 가격 계산하기

# 1. meal 변수를 선언하고 값을 4450으로 지정하세요.
# 2. tax 변수를 생성하고 값으로 6.75%를 소수점 형태로 지정하세요.
# 3. tip 변수를 생성하고 값으로 15%를 소수점 형태로 지정하세요.
# 4. meal의 변수값에 세금을 곱해 meal 변수에 지정하세요.
# 5. 음식값에 tip을 더해 total 변수에 지정하세요.
# 6. total 변수 값을 출력하세요.

meal = 4450
tax = 0.0675
tip = 0.15
meal_tax = meal * tax
meal_price = meal + meal_tax
meal_tip = meal * tip
total = meal + meal_tax + meal_tip
print('세금 :',meal_tax)
# print('세금 포함 음식값 :',meal_price)
print('팁 :',meal_tip)
print('총음식가격 :',total)

세금 : 300.375
팁 : 667.5
총음식가격 : 5417.875

In [ ]:
# 리스트 생성
a = list()
a = []
a = [1,2,3]
a = ['I','love','BTS']
a = [1,2,'사랑해요','BTS']
a = ['a','b',[1,2,3],-4]
a = [1,2,['a','b',['사랑해요','BTS']]]


num = list()
for i in range(1,21,2):
  num.append(i)
print(num)
num = list(range(1,21,2))
print(num)

color = ['red','green','blue','black','white']
print(color[0])
print(color[4])
print(color[1:4])

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]
red
white
['green', 'blue', 'black']

In [ ]:
colors = ['red','green','blue','black','white']
for color in colors:
  print('나는 %s을 가장 좋아합니다' % color)

flowers =['무궁화','장미','개나리']
print(flowers)
flowers.append('진달래')
print(flowers)
flowers.insert(1,'벗꽃')
print(flowers)
flowers[2] = '목련'
print(flowers)
flowers.pop()
print(flowers)
flowers.remove('개나리')
print(flowers)

나는 red을 가장 좋아합니다
나는 green을 가장 좋아합니다
나는 blue을 가장 좋아합니다
나는 black을 가장 좋아합니다
나는 white을 가장 좋아합니다
['무궁화', '장미', '개나리']
['무궁화', '장미', '개나리', '진달래']
['무궁화', '벗꽃', '장미', '개나리', '진달래']
['무궁화', '벗꽃', '목련', '개나리', '진달래']
['무궁화', '벗꽃', '목련', '개나리']
['무궁화', '벗꽃', '목련']

In [ ]:
a =[37, 888, -273, 'kim','hwang',66.77]
print(a[2:4])

[-273, 'kim']

In [11]:
members = {'name':'진','age':29,'email':'jin@gggmail.com','1':3 }
print(members)
print(members['name'])
print(members['age'])

print('길이 : %d' % len(members))

scores ={'kor' : 70, 'eng':89, 'math' : 95, 'music':100}
print(scores)
#for key in scores:
 # print('%s => %d' % (key, scores[key]))
print(scores.keys())
print(scores.values())
print(scores.items())

{'name': '진', 'age': 29, 'email': 'jin@gggmail.com', '1': 3}
진
29
길이 : 4
{'kor': 70, 'eng': 89, 'math': 95, 'music': 100}
dict_keys(['kor', 'eng', 'math', 'music'])
dict_values([70, 89, 95, 100])
dict_items([('kor', 70), ('eng', 89), ('math', 95), ('music', 100)])